@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600&display=swap");

:root {
    --text: #7C7C7C;
    --color: #4870FF;
    --contrast: #21212E;
    --weak: #E3E3E3;

    --padding: 6rem;
}

html {
    font-size: 20px;
}

* {
    font-weight: 500;
    font-size: 1rem;
}


body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 3.25rem;

    color: var(--contrast);
}

h1 span {
    font-weight: 600;
    color: var(--color);
    text-decoration: underline;
}

h2 {
    font-weight: 600;
    font-size: 2.5rem;

    color: var(--contrast);
}

h3 {
    text-decoration: underline;
    font-size: 1.5rem;

    color: var(--contrast);
}

h4 {
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: underline;

    color: white;
}

span {
    font-weight: 600;
    font-size: inherit;
}

a {
    text-decoration: none;
}

a > *:hover {
    text-decoration: underline;
}

p {
    color: var(--text);
}

input, textarea, select {
    outline: 2px var(--weak) solid;
    background: none;
    color: var(--contrast);

    border: 0;
    transition: 0.2s;

    border-radius: 5px;
}

select {
    padding: 0.5rem;
    -webkit-appearance: none;
    appearance: none;

    background-image: url("@/assets/dropdown.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;

    border-radius: 5px;
}

input:focus, textarea:focus, select:focus {
    outline-color: var(--contrast);
}

textarea {
    padding: 0.5rem;
}

::placeholder {
    color: #E2E2E2;
}